@import "tailwindcss";
@tailwind utilities;

@theme {
  --color-bg: #0f172a;
  --color-surface: #1e293b;

  --color-primary: #38bdf8;
  --color-primary-hover: #0ea5e9;

  --color-text: #f1f5f9;
  --color-text-muted: #94a3b8;

  --color-border: #334155;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    background-color: var(--color-bg);
    font-family: "preahvihear", sans-serif;
    color: var(--color-text);
  }
  .font-serif {
    font-family: "Plus Jakarta Sans", sans-serif;
  }
  .text-font {
    font-family: "Poppins", sans-serif;
  }
}

@layer components {
  .glass {
    background-color: color-mix(in srgb, var(--color-surface) 50%, transparent);
    backdrop-filter: blur(16px);
    border: 1px solid color-mix(in srgb, var(--color-border) 50%, transparent);
  }

  .strong-glass {
    background-color: color-mix(in srgb, var(--color-surface) 80%, transparent);
    backdrop-filter: blur(16px);
    border: 1px solid color-mix(in srgb, var(--color-border) 80%, transparent);
  }

  .glow {
    box-shadow: 0 0 50px
      color-mix(in srgb, var(--color-primary) 50%, transparent);
  }
  .text-glow {
    text-shadow: 0 0 50px
      color-mix(in srgb, var(--color-primary-hover) 100%, transparent);
  }
  .max-width {
    max-width: 1152px;
  }
}

@layer utilities {
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(-20px);
      filter: blur(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
      filter: blur(0);
    }
  }

  @keyframes moving-dots {
    0%,
    100% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(20px, -30px);
    }
    50% {
      transform: translate(15px, 20px);
    }
    75% {
      transform: translate(30px, 10px);
    }
  }

  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  @keyframes slider {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-slider {
    animation: slider 20s linear infinite;
  }

  .animate-slider:hover {
    animation-play-state: paused;
  }

  .animate-float {
    animation: float 5s ease-in-out both infinite;
  }

  .animation-delay-100 {
    animation-delay: 100ms;
  }
  .animation-delay-200 {
    animation-delay: 200ms;
  }
  .animation-delay-300 {
    animation-delay: 300ms;
  }
  .animation-delay-400 {
    animation-delay: 400ms;
  }
  .animation-delay-500 {
    animation-delay: 500ms;
  }
  .animation-delay-600 {
    animation-delay: 600ms;
  }
  .animation-delay-700 {
    animation-delay: 700ms;
  }

  .animate-fade-in {
    animation-name: fade-in;
    animation-duration: 0.9s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
  }

}
